/* reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media (min-width: 721px) {
  .navbar-toggler {
    display: none;
  }
  .navbar-collapse {
    display: flex !important;
  }
}
@media (max-width: 721px) {
  .responsive-logo {
    content: url("../assets/logo_media.png");
    width: 40px;
    height: auto;
  }
  .whatsapp-logo {
    margin-left: 10px;
  }
  footer h4 {
    margin-left: 10px;
  }
}
.youtubeframe {
  width: 560px;
  height: 315px;
}
@media (max-width: 576px) {
  .youtubeframe {
    max-width: 100%;
    max-height: 60%;
  }
}

@font-face {
  font-family: "PoppinsLocal";
  src: url(../fonts/Poppins-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.8rem;
}

body {
  font-family: "PoppinsLocal", sans-serif;
}

header {
  background-color: #3277bd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}
nav li {
  margin: 0 1rem;
}
nav a {
  text-decoration: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}
nav a:hover {
  background-color: #2a8ff3;
}

main {
  padding: 2rem;
}

form {
  margin: 5px 10px 12px 15px;
}

.whatsapp-logo, .logo-container {
  transition: opacity 0.3s;
}

.whatsapp-logo {
  width: 40px;
  cursor: pointer;
  margin-left: 100px;
}

.logo-container {
  margin-right: 1rem;
}

.orden-listado {
  list-style-type: none;
  padding-left: 0;
}
.orden-listado li {
  position: relative;
  padding-left: 25px;
}
.orden-listado li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
}

.orden-listado-derecho {
  direction: rtl;
  list-style-position: inside;
}
.orden-listado-derecho li {
  text-align: right;
  direction: ltr;
}

.orden-derecho {
  text-align: right;
}

footer {
  background-color: #3277bd;
  color: #4d4646;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer h4 {
  margin-left: 2rem;
}

/*# sourceMappingURL=style.css.map */
