// _generales.scss
@font-face {
    font-family: 'PoppinsLocal';
    src: url(../fonts/Poppins-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}
h1 { font-size: 2.5em; }
h2 { font-size: 2em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1.1em; }
h5 { font-size: 1.0rem; }
h6 { font-size: 0.8rem; }

// Estilos del Cuerpo, Cabecera y Navegación
h1{
    text-align: center;
}
body, html {
    height:100%;
    margin: 0;
}
body {
    display: flex;
    font-family: $font-primary;
    flex-direction: column;
    min-height: 100vh;

}
main{
    flex: 1;
    padding-left: 2rem;
    padding-right: 2rem;
}
header {
    background-color: $primary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    li { margin: 0 1rem; }
    a {
        text-decoration: none;
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        transition: background-color 0.3s;
        &:hover { background-color: $hover-color; }
    }
}
// Estilos del Layout y Footer
.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    padding: 2rem;
}
// Estilos de Formularios, Logos y Listados
form { margin: 5px 10px 12px 15px; }

.whatsapp-logo, .logo-container {
    transition: opacity 0.3s;
}

.whatsapp-logo {
    width: 40px;
    cursor: pointer;
    margin-left: 100px;
}

.logo-container { margin-right: 1rem; }

.orden-listado { @include lista-con-bolita; }
.orden-listado-derecho { @include lista-ordenada-derecha; }
.orden-derecho { text-align: right; }

// Estilos para la Barra de Desplazamiento
body::-webkit-scrollbar {
    width: 12px; // ancho de toda la barra de desplazamiento
    background: $primary-color; // color del área de seguimiento, usando el color primario
}

body::-webkit-scrollbar-thumb {
    background-color: $hover-color; // color del pulgar de desplazamiento
    border-radius: 20px; // redondez del pulgar
    border: 3px solid $primary-color; // relleno alrededor del pulgar con el color primario
    &:hover {
        background-color: darken($hover-color, 10%); // oscurecer el color del pulgar al pasar el mouse
    }
}
main {
    text-align: center;
  
    .list-title {
      margin-top: 20px;
      margin-bottom: 10px;
    }
  
    .advantages-list {
      list-style-type: none;
      padding: 0;
      margin: 20px auto;
      display: inline-block;
      text-align: left;
  
      li {
        display: list-item;
      }
    }
  
    .centered-image {
      display: block;
      margin: 20px auto;
      max-width: 100%;
      height: auto;
      max-height: 300px; // Limita el tamaño de la imagen
    }
  }
  .responsive-logo {
    max-width: 80%;
    height: auto; /* Mantiene la proporción de la imagen */
}