@charset "UTF-8";
/* reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media (min-width: 721px) {
  .navbar-toggler {
    display: none;
  }
  .navbar-collapse {
    display: flex !important;
  }
}
@media (max-width: 721px) {
  .responsive-logo {
    content: url("../assets/logo_media.png");
    width: 40px;
    height: auto;
  }
  .whatsapp-logo {
    margin-left: 10px;
  }
  footer h4 {
    margin-left: 10px;
  }
}
.youtubeframe {
  width: 560px;
  height: 315px;
}
@media (max-width: 576px) {
  .youtubeframe {
    max-width: 100%;
    max-height: 60%;
  }
}

@font-face {
  font-family: "PoppinsLocal";
  src: url(../fonts/Poppins-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.8rem;
}

h1 {
  text-align: center;
}

body, html {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  font-family: "PoppinsLocal", sans-serif;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding-left: 2rem;
  padding-right: 2rem;
}

header {
  background-color: #3277bd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}
nav li {
  margin: 0 1rem;
}
nav a {
  text-decoration: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}
nav a:hover {
  background-color: #2a8ff3;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 2rem;
}

form {
  margin: 5px 10px 12px 15px;
}

.whatsapp-logo, .logo-container {
  transition: opacity 0.3s;
}

.whatsapp-logo {
  width: 40px;
  cursor: pointer;
  margin-left: 100px;
}

.logo-container {
  margin-right: 1rem;
}

.orden-listado {
  list-style-type: none;
  padding-left: 0;
}
.orden-listado li {
  position: relative;
  padding-left: 25px;
}
.orden-listado li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: rgba(37, 169, 179, 0.7450980392);
  border-radius: 50%;
}

.orden-listado-derecho {
  direction: rtl;
  list-style-position: inside;
}
.orden-listado-derecho li {
  text-align: right;
  direction: ltr;
}

.orden-derecho {
  text-align: right;
}

body::-webkit-scrollbar {
  width: 12px;
  background: #3277bd;
}

body::-webkit-scrollbar-thumb {
  background-color: #2a8ff3;
  border-radius: 20px;
  border: 3px solid #3277bd;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #0c76de;
}

main {
  text-align: center;
}
main .list-title {
  margin-top: 20px;
  margin-bottom: 10px;
}
main .advantages-list {
  list-style-type: none;
  padding: 0;
  margin: 20px auto;
  display: inline-block;
  text-align: left;
}
main .advantages-list li {
  display: list-item;
}
main .centered-image {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
  max-height: 300px;
}

.responsive-logo {
  max-width: 80%;
  height: auto; /* Mantiene la proporción de la imagen */
}

footer {
  flex-shrink: 0;
  background-color: #3277bd;
  color: #4d4646;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer h4 {
  margin-left: 2rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: auto;
}
.contact-form .form-input, .contact-form .form-select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.contact-form .form-select {
  appearance: none;
  background-color: white;
}
.contact-form .submit-button {
  font-family: inherit;
  font-size: 20px;
  background: royalblue;
  color: white;
  padding: 0.7em 1em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}
.contact-form .submit-button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}
.contact-form .submit-button:hover span {
  transform: translateX(5em);
}
.contact-form .submit-button:active {
  transform: scale(0.95);
}
.contact-form .submit-button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}
.contact-form .submit-button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

/*# sourceMappingURL=style.css.map */
